/*
Document:	MassBase Theme
Website:	http://www.massbase.org/
Author:		Reid Vender
Version:	1.0
*/


/* Fonts */
@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

//@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);
$font:		'Source Sans Pro', sans-serif;
$light:		200;
$regular:	300;
$bold:		400;

@font-face {
	font-family: 'nlicons';
	src:url('../fonts/nlicons/nlicons.eot');
	src:url('../fonts/nlicons/nlicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/nlicons/nlicons.woff') format('woff'),
		url('../fonts/nlicons/nlicons.ttf') format('truetype'),
		url('../fonts/nlicons/nlicons.svg#nlicons') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*
@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome/fontawesome-webfont.eot');
	src:url('../fonts/fontawesome/fontawesome-webfont.woff') format('woff'),
		url('../fonts/fontawesome/fontawesome-webfont.ttf') format('truetype'),
		url('../fonts/fontawesome/fontawesome-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/

/* Colours */
$white:		#FCFFFE;
$green:		#77FFE3;
$blue:		#3AE0DD;
$indigo:	#47B5E0;
$grey:		#b4b4b4;
$black:		#142330;


/* Mixins */
@mixin vp($name, $argument) { // automatically prepend vendor prefixes to a given property
	-webkit-#{$name}: #{$argument};
	-ms-#{$name}: #{$argument};
	-moz-#{$name}: #{$argument};
	-o-#{$name}: #{$argument};
	#{$name}: #{$argument};
}

@mixin vcc() { // vertically center children
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-pack:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
    
    -webkit-flex-line-pack:center;
	-ms-flex-line-pack:center;
	-webkit-align-content:center;
	align-content:center;
    
    -webkit-flex-direction:column;
	-moz-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
}

@mixin ac() { //absolutely center self
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

@mixin vc() { //vertically center self
	position: absolute;
	top: 50%;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

@mixin respond-to($breakpoint) {
  @media only screen and (max-width: $breakpoint) { @content; }
}

@mixin portrait() {
	@media only screen and (orientation : portrait) { @content; }
}

@mixin noselect() {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@function sqrt($r) {
  $x0: 1;
  $x1: $x0;
 
  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }
 
  @return $x1;
}

@function gs($b, $o) { // return a grayscale color with opacity
	@return rgba($b, $b, $b, $o)
}

/* Styles */
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; }

html { 
	font-size: 62.5%; 
	
	&.touch {
		
		body {
			background-size: cover;
			background-repeat: no-repeat;
			background-attachment: scroll;
		}
		
		.help {
			display: none;
		}
	}
}

body {
	font-family: $font;
	font-weight: $light;
	//background: $white;
	//background-image: url('../img/insect6-blurred.jpg');
	background-size: cover;
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-position: center center;
	color: #404040;
	margin: 0;
	
	&.prevent-scrolling {
		overflow: hidden !important;
	}
}

html.touch body.prevent-scrolling {
	
}

/* Re-usable styles */
.column-left {
	display: inline-block;
	vertical-align: top;
	left: 0;
	width: 50%;
	padding: 0;
	margin: 0;
}

.column-right {
	@extend .column-left;
	left: 50%;
}

p > a, a.button, footer a, .link {
	text-decoration: none;
	color: #5CA7F2;
	font-weight: $bold;
	cursor: pointer;
	transition: all 0.5s;
	
	&:hover {
		color: #5498DC;
	}
}

[target=_blank]::after {
	content: '\f08e';
	margin: 0 0.3em;
	font-family: 'fontawesome';
	vertical-align: super;
	font-size: 0.4em;
}

.button {
	display: inline-block;
	line-height: 1.2em;
	font-size: 1.25rem;
	border-radius: 4px;
	border: 1px solid rgba(92, 168, 243, 0.5);
    background: transparent;
    cursor: pointer;
    color: #5CA7F2;
    font-weight: $bold;
    padding: 1.2em;
    transition: all 0.5s;
    
	&:hover {
		background: rgba(92, 168, 243, 0.1);
		color: #5498DC;
	}
	
	&:active {
		background: rgba(92, 168, 243, 0.2);
	}
	
	&.small {
		line-height: 1em;
		padding: 0.5em 1em;
	}
	
}

.help {
	background: url(../img/help.png);
	background-position: left center;
	background-size: cover;
	
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px;
	
	width: 5.5vmin;
	height: 5.5vmin;
	
	z-index: 10000;
	
	@include respond-to(750px) {
		width: 13vmin;
		height: 13vmin;
	}
	
	//@include vp(transition, 0.5s);
	
	cursor: pointer;
	
	&:hover {
		background-position: center center;
	}
	
	&:active {
		background-position: right center;
	}
	
	&.open {
		background-position: right center;
	}
}

.search-summary {
	box-shadow: 0px 1px 10px rgba(0,0,0,0.35);
	background-color: rgba(250,250,250,1);
	padding: 25px;
	
	h1 {
		font-weight: $light;
		font-size: 2.4rem;
		margin: 0;
		display: inline-block;
	}
	
	.summary-buttons {
		position: absolute;
		right: 25px;
		display: inline-block;
	}
	
	@include portrait() {
		
		.summary-buttons {
			padding-top: 25px;
			position: static;
		}
	}
}

.no-results-wrapper {
	height: calc(100vh - 396px);
	position: relative;
	width: 100%;
	background: rgba(250,250,250,0.8);
	
	.no-results {
		@include ac();
		font-size: 3rem;
	}
}

.results-table {
	
	@include portrait() {
		overflow-x: scroll;
		
		table {
			width: 300px;
		}
	}
}

table {
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 1.5rem;
    width: 100%;
    
    .number {
	    text-align: right;
	}
	
	thead {
		
		tr {
		    background-color: rgba(250,250,250,1);
			
			&:hover {
			    background-color: rgba(250,250,250,1);
		    }
		}
	}
	
	tr {
		background-color: rgba(255,255,255,0.9);
		border-spacing: 0;
	    -webkit-border-horizontal-spacing: 0;
	    -webkit-border-vertical-spacing: 0;
		
		&:nth-child(even) {
	    	background-color: rgba(250, 250, 250, 0.9);
	    }
	    
	    &:hover {
		    background-color: rgba(240,240,240,0.9);
	    }
	    
		th, td {
		    border-bottom: 1px solid black;
		    padding: .5em 1em;
		    border-spacing: 0;
		    -webkit-border-horizontal-spacing: 0;
		    -webkit-border-vertical-spacing: 0;
		}
		
		th {
		    border-color: #CCC;
		    color: #888;
		    font-weight: normal;
		    text-align: left;
		    
		    i.fa {
				font-size: 0.9em;
			}
		}
		
		td {
		    border-color: #e6e6e6;
		}
	}
}

.float {
	position: fixed;
	top: 0;
	visibility: hidden;
}

#pagination {
	background-color: rgba(250,250,250,1);
	text-align: center;
	
	ul.pagination {
		font-size: 1.5rem;
		list-style: none;
		margin: 0;
		padding: 1em;
		/* Flex properties */
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-justify-content: center;
		-moz-box-justify-content: center;
		-ms-flexbox-justify-content: center;
		-webkit-justify-content: center;
		justify-content: center;
		
		a {
			text-decoration: none;
			/* Flex properties */
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
		}
		
		li {
			background: rgba(0,0,0,0.2);
			color: #fff;
			display: inline-block;
			font-weight: 400;
			height: 100%;
			line-height: 3em;
			text-align: center;
			width: 3em;
			@include vp(transition, 0.25s);
			
			
			&:hover {
				background: rgba(0,0,0,0.3);
			}
			
			&.active {
				background: rgba(0,0,0,0.3);
				pointer-events: none;
			}
			
			&.next, &.previous {
				cursor: pointer;
				
				i {
					font-size: 75%;
				}
			}
			
			&.disabled {
				pointer-events: none;
				background: rgba(0,0,0,0.1);
				
				&::before {
					color: rgba(255,255,255,0.5);
				}
			}
		}
	}
}

.rotate {
	-webkit-animation: spin 2s linear infinite;
			animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0%   {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
}
	
/* Header */
header {
	height: 100vh;
	position: relative;
	
	//background: url(../img/insect3.jpg);
	background-size: cover;
	background-position: center;
	
/*
	#navbar {
		width: 100vw;
		height: 70px;
		padding: 0;
		margin: 0;
		border-bottom: 1px solid rgba(232, 232, 232, 0.2);
		background: rgba(232, 232, 232, 0.1);	
	}
*/		

	&#results-header {
		height: 70px;
	}
	
	&.search-summary {
		height: 100%;
	}
	
	#feature {
		text-align: center;
		color: $white;
		
		margin: 0 5vw;
		@include vc();
		
		z-index: 1;
		
		h1 {
			font-size: 3.7vw;
			line-height: 4.5vw;
			font-weight: $light;
			margin: 10px 0;
		}
		
		a {
			font-weight: $regular;
			font-size: 20px;
			text-decoration: none;
			color: $white;
			
			&:hover {
				text-decoration: underline;
			}
			
			&::after {
				content: '\a0\f105';
				display: inline-block;
				font-family: 'fontawesome';
				text-decoration: none;
			}
		}
		
		@include portrait() {
			
			h1 {
				font-size: 6.475vw;
				line-height: 7.875vw;
			}
		}
	}
	
	#navbar {
		position: relative;
		top: 0;
		height: 70px;
		z-index: 2;
	
		#logo {
			position: absolute;
			top: 0;
			left: 0;
			height: 50px;
			margin: 10px 0px 10px 20px;
			
			text-shadow: none;
			
			z-index: 1;
			
			.component {
				display: inline-block;
				height: 50px;
				font-size: 38px;
				font-weight: $light;
				color: white;
				margin-right: 10px;
				line-height: 48px;
				
				img {
					height: 38px;
					vertical-align: middle;
				}
			}
		}
		
		nav.main {
			position: absolute;
			top: 0;
			right: 0;	
			font-weight: $regular;
			
			z-index: 0;		
			
			ul {
				margin: 10px 20px 10px 0px;
				padding: 0;
				
				li {
					display: inline-block;
					height: 50px;
					line-height: 50px;
					margin: 0px 20px;
					font-size: 15px;
					
					a {
						position: relative;
						
						&:link, &:visited {
							color: $white;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	
	@include portrait() {
		
		&#results-header {
			height: 140px;
		}
		
		#navbar {
			height: 140px;
			
			#logo {
				margin: 10px auto;
				width: 100%;
				text-align: center;
			}
			
			nav.main {
				top: 70px;
				width: 100%;
				
				ul {
					margin: 10px 0;
					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					-webkit-box-justify-content: center;
					-moz-box-justify-content: center;
					-ms-flexbox-justify-content: center;
					-webkit-justify-content: center;
					justify-content: center;
				}
			}
		}
	}
	
	.tilt {
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		margin: 0;
		z-index: -1;
	}
	
	.tilt__back,
	.tilt__front {
		width: 100%;
		height: 100%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	
	.tilt__back {
		position: relative;
	}
	
	.tilt__front {
		position: absolute;
		top: 0;
		left: 0;
	}
}

/* About Content */
#about {
	height: 100%;
	min-height: 100vh;
	background: rgba(253, 253, 253, 0.75);
	position: relative;
	overflow: hidden;
	
	#content-1, #content-2 {
		position: relative;
		top: 0;
		left: 0;
		-webkit-transform: translateX(-100vw);
		transform: translateX(-100vw);
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
		
		&.show {
			-webkit-transform: translateX(0vw);
			transform: translateX(0vw);
		}
	}
	
	#content-2 {
		padding: 75px 0;
		font-size: 85%;
		-webkit-transform: translateX(100vw);
		transform: translateX(100vw);
		
		h3 {
			font-size: 2.3em;
		}
		
		p {
			font-size: 1.8em;
			line-height: 1.72em;
		}
		
		h2 {
			font-size: 2.5em;
			line-height: 1.64em;
		}
	}
	
	h2 {
		font-weight: $light;
		font-size: 2.5em;
		line-height: 1.64em;
		text-align: center;
		padding: 3em 6em;
		margin: 0;
		
		@include portrait() {
			padding: 50px 40px;
			font-size: 2em;
		}
	}
	
	.column-left, .column-right {
		padding: 0 5%;
		
		h3 {
			font-weight: $regular;
			font-size: 2.3em;
		}
		
		p {
			color: #484848;
			font-size: 1.8em;
			font-weight: $light;
			line-height: 1.72em;
		}
		
		@include portrait() {
			width: 100% !important;
			padding: 0 5% !important;
		}
	}
	
	.chart {
		text-align: center;
		position: relative;
		
		.chart-value {
			@include ac();
			z-index: 1;
			opacity: 1;
			-webkit-transition: all 0.5s;
			transition: all 0.5s;
			cursor: default;
			
			&.hide {
				opacity: 0;
			}
			
			h1 {
				color: #777;
				font-weight: $light;
				font-size: 3.5em;
				margin: 0;
				padding: 0;
			}
			
			h2 {
				color: #777;
				font-weight: $light;
				font-size: 2em !important;
				line-height: 100%;
				margin: 0;
				padding: 0;
			}
		}
		
		.chart-milestone {
			@extend .chart-value;
			z-index: 0;
			opacity: 0;
			
			&.show {
				opacity: 1;
			}
		}
		
		@include portrait() {
			
			canvas {
				padding: 15%;
			}
		}
	}
}

/* Search */
#search {
	margin: 0;
	height: 100vh;
	min-height: 100%;
	color: $white;
	clear: both;
	background-color: gs(100,0.75);
	
	position: relative;
	
	@include vcc();
	
	@import "_nl-search";
}

.filler {
	width: 100%;
	background: rgba(250,250,250,0.75);
}

/* Footer */
footer {
	text-align: center;
	background: rgba(20, 35, 48, 0.8)/* $black */;
	padding: 20px;	
	
	> div {
		display: inline-block;
		vertical-align: top;
		width: 300px;
		text-align: left;
		
		h1 {
			margin-bottom: 0.3em;
			color: $white;
			font-weight: $light;
			font-size: 1.4rem;
		}
		
		ul {
			padding: 0;
			margin: 0;
			list-style-position: inside;
			color: $grey;
			font-weight: $regular;
			font-size: 1.4rem;
			line-height: 2.4rem;
			
			li {
				cursor: pointer;
				color: #5CA7F2;
				font-weight: $bold;
				@include vp(transition, 0.5s);
				
				&:hover {
					color: $white;
				}
			}
		}
	}
	
	p {
		color: $grey;
		font-size: 1.3rem;
		line-height: 1.5em;
	}
	
	a:hover {
		color: $white;
	}
	
	address {
		color: rgba(212, 212, 212, 1);
		font-size: 1.3rem;
		
		span::before {
			content: '\a0\a0\a0';
			margin: 0 1em;
			vertical-align: bottom;
			font-family: 'fontawesome';
			margin: 0 1em 0 0;
			color: #5CA7F2;
			font-style: normal;
		}
		
		.location::before {
			@extend span::before;
			content: '\f041';
		}
		
		.phone::before {
			@extend span::before;
			content: '\f095';
		}
		
		.fax::before {
			@extend span::before;
			content: '\f1ac';
		}
		
		.email::before {
			@extend span::before;
			content: '\f003';
		}
	}
}

@import "_mp-menu";

@import "_modal";
	
@import "_popover";